.gallery__grid-container {
   display: grid;
   grid-template-columns: repeat(3, minmax(200px, 281px));
   grid-template-rows: repeat(2, 361px);
   gap: 17px 20px;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

@media screen and (max-width: 768px) {
   .gallery__grid-container {
      grid-template-columns: repeat(2, minmax(200px, 281px));
      grid-template-rows: repeat(3, 361px);
   }
}

@media screen and (max-width: 420px) {
   .gallery__grid-container {
      grid-template-columns: repeat(1, minmax(200px, 281px));
      grid-template-rows: repeat(auto-fill, 361px);
   }
}

@media screen and (max-width: 320px) {
   .gallery__grid-container {
      margin: 0 19px;
      grid-template-columns: repeat(1, minmax(200px, 281px));
      grid-template-rows: repeat(auto-fill, 361px);
   }
}