.popup__input {
   width: 358px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 0 13px 0;
   font-family: inherit;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   border: 0;
   border-bottom: 1px solid rgba(000, 000, 000, .2);
}

.popup__input:nth-of-type(1) {
   margin-top: 54px;
}

.popup__input:nth-of-type(2) {
   margin-top: 30px;
   margin-bottom: 48px;
}

.popup__input:focus {
   outline-style: none;
}

@media screen and (max-width: 320px) {
   .popup__input {
      margin-left: 22px;
      width: 238px;
   }

   .popup__input:nth-of-type(1) {
      margin-top: 75px;
   }

   .popup__input:nth-of-type(2) {
      margin-bottom: 45px;
   }
}