.profile__flex-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

@media screen and (max-width: 320px) {
   .profile__flex-container {
      flex-direction: column;
   }
}