.profile__about {
   margin: 0;
   margin-top: 16px;
   color: #fff;
   max-width: 294px;
   font-size: 18px;
   line-height: 22px;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

@media screen and (max-width: 1024px) {
   .profile__about {
      /* margin-right: 80px; */
   }
}

@media screen and (max-width: 768px) {
   .profile__about {
      font-size: 14px;
      line-height: 17px;
   }
}

@media screen and (max-width: 320px) {
   .profile__about {
      margin: 0;
      text-align: center;
   }
}