.form__item {
   width: 358px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 0 13px 0;
   font-family: inherit;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   border: 0;
   border-bottom: 1px solid #000;
}

.form__item:focus {
   outline-style: none;
}

@media screen and (max-width: 320px) {
   .form__item {
      margin-left: 22px;
      width: 238px;
   }
}