.header__line {
   display: block;
   margin-left: 200px;
}

@media screen and (max-width: 1024px) {
   .header__line {
      margin-left: 70px;
   }
}

@media screen and (max-width: 768px) {
   .header__line {
      margin-left: 0;
      max-width: 768px;
   }
}
@media screen and (max-width: 320px) {
   .header__line {
      margin-left: 0;
      max-width: 320px;
      height: 0.8px;
   }
}