.popup__close-button {
   position: absolute;
   left: 438px;
   top: -40px;
}

.popup__close-button:hover {
   cursor: pointer;
}

@media screen and (max-width: 320px) {
   .popup__close-button {
      width: 20px;
      left: 262px;
   }
}