.popup__close-button {
   position: absolute;
   left: 438px;
   top: -40px;
   transition: .5s;
   width: 32px;
   height: 32px;
   padding: 0;
   background-image: url(../../../images/popup/close-icon.png);
   background-position: center;
   border: 0;
   background-color: transparent;
}

.popup__close-button:hover {
   cursor: pointer;
   opacity: .6;
}

@media screen and (max-width: 320px) {
   .popup__close-button {
      width: 20px;
      height: 20px;
      left: 262px;
   }
}