.gallery__trash {
    background-color: transparent;
    background-image: url("../../../images/gallery/Trash.svg");
    border: 0;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .5s;
}

.gallery__trash:hover {
    opacity: .5;
    cursor: pointer;
}