@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

/* HEADER */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__logo.css);

/* PROFILE*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_action/profile__button_action_edit.css);
@import url(../blocks/profile/__button/_action/profile__button_action_add.css);

.gallery__grid-container {
   margin: 0 200px;
   display: grid;
   grid-template-columns: repeat(3, minmax(max-content, 281px));
   grid-template-rows: repeat(2, 1fr);
   gap: 17px 20px;
}

.gallery__item {
   background-color: #fff;
   max-width: 282px;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   overflow: hidden;
}

.gallery__image {
   max-width: 282px;
}

.gallery__title {
   font-weight: 900;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   justify-content: space-between;
   margin: 25px 30px 31px 21px;
}

.gallery__like {
   display: block;
}