.profile__info {
   align-self: center;
   display: grid;
   grid-template-columns: 1fr 268px;
   column-gap: 18px;
}

@media screen and (max-width: 768px) {
   .profile__info {
      grid-template-columns: 1fr max-content;
      text-align: center;
   }
}

@media screen and (max-width: 320px) {
   .profile__info {
      grid-template-columns: 189px 18px;
      grid-template-rows: max-content max-content;
      margin-left: 65px;
      margin-right: 38px;
      column-gap: 10px;
      row-gap: 14px;
   }
}