.popup__form-button {
   width: 357px;
   height: 50px;
   margin-left: auto;
   margin-right: auto;
   background-color: #000;
   color: #fff;
   border: 0;
   border-radius: 2px;
   text-align: center;
   font-size: 18px;
   line-height: 22px;
   transition: .5s;
}

.popup__form-button:hover {
   opacity: 0.8;
   cursor: pointer;
}

@media screen and (max-width: 320px) {
   .popup__form-button {
      font-size: 14px;
      line-height: 17px;
      width: 238px;
      height: 46px;
   }
}