.profile__button_type_edit {
   margin-top: 15px;
   transition: .5s;
}

.profile__button_type_edit:hover {
   cursor: pointer;
   opacity: .6;
}

@media screen and (max-width: 768px) {
   .profile__button_type_edit {
      width: 18px;
      margin-top: 0;
      align-self: center;
   }
}

@media screen and (max-width: 320px) {
   .profile__button_type_edit {
      align-items: flex-end;
   }
}